body{
    background-color: black;
    text-align: center;
    color: white;
    font-family: Verdana;
}
p{
    font-size: 21px;
    color: grey;
}
a{
    color: aquamarine;
    font-size: 16px;
}
h1{
    font-family: Verdana;
    font-size: 50px;
}
h2{
    font-size: 42px;
    font-weight: 300;
}
h3{
    color: grey;
    text-align: right;
}
div{
    margin: 20px auto;
}

